Mol.Integration.Services.Client/Service References/NICServiceReference/NICService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contracts.Data" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contracts.Data" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" />
  <xs:complexType name="DependentsData">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="BirthDate" nillable="true" type="q1:DateStructure" />
      <xs:element minOccurs="0" name="Gender" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="MaritalStatus" nillable="true" type="q2:LookupStructure" />
      <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Name" nillable="true" type="q3:NameStructure" />
      <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Nationality" nillable="true" type="q4:LookupStructure" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Occupation" nillable="true" type="q5:LookupStructure" />
      <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Relationship" nillable="true" type="q6:LookupStructure" />
      <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Religion" nillable="true" type="q7:LookupStructure" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Residency" nillable="true" type="q8:ResidencyStructure" />
      <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Sponsor" nillable="true" type="q9:SponsorStructure" />
      <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Status" nillable="true" type="q10:StatusStructure" />
      <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Travel" nillable="true" type="q11:TravelStructure" />
      <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" minOccurs="0" name="Visa" nillable="true" type="q12:VisaStructure" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DependentsData" nillable="true" type="tns:DependentsData" />
</xs:schema>