Mol.Integration.Services.Client/Service References/NICServiceReference/NICService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://mol.gov.sa/services/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://mol.gov.sa/services" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="NICService" targetNamespace="http://mol.gov.sa/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://mol.gov.sa/services" location="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://mol.gov.sa/services/Imports">
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd0" namespace="http://mol.gov.sa/services/" />
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" />
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contracts.Data" />
      <xsd:import schemaLocation="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Data" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="INICService_CancelVisa_InputMessage">
    <wsdl:part name="parameters" element="tns:CancelVisa" />
  </wsdl:message>
  <wsdl:message name="INICService_CancelVisa_OutputMessage">
    <wsdl:part name="parameters" element="tns:CancelVisaResponse" />
  </wsdl:message>
  <wsdl:message name="INICService_CancelVisa_NICFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" name="detail" element="q1:NICFaultContract" />
  </wsdl:message>
  <wsdl:message name="INICService_QueryDependentsByID_InputMessage">
    <wsdl:part name="parameters" element="tns:QueryDependentsByID" />
  </wsdl:message>
  <wsdl:message name="INICService_QueryDependentsByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:QueryDependentsByIDResponse" />
  </wsdl:message>
  <wsdl:message name="INICService_QueryDependentsByID_NICFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" name="detail" element="q2:NICFaultContract" />
  </wsdl:message>
  <wsdl:message name="INICService_GetLabrorPrisonStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLabrorPrisonStatus" />
  </wsdl:message>
  <wsdl:message name="INICService_GetLabrorPrisonStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLabrorPrisonStatusResponse" />
  </wsdl:message>
  <wsdl:message name="INICService_GetLabrorPrisonStatus_NICFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" name="detail" element="q3:NICFaultContract" />
  </wsdl:message>
  <wsdl:message name="INICService_AuthenticateUserByMobile_InputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByMobile" />
  </wsdl:message>
  <wsdl:message name="INICService_AuthenticateUserByMobile_OutputMessage">
    <wsdl:part name="parameters" element="tns:AuthenticateUserByMobileResponse" />
  </wsdl:message>
  <wsdl:message name="INICService_AuthenticateUserByMobile_NICFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" name="detail" element="q4:NICFaultContract" />
  </wsdl:message>
  <wsdl:message name="INICService_Test_InputMessage">
    <wsdl:part name="parameters" element="tns:Test" />
  </wsdl:message>
  <wsdl:message name="INICService_Test_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestResponse" />
  </wsdl:message>
  <wsdl:message name="INICService_Test_NICFaultContractFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Mol.Integration.Lib.Contract.Fault" name="detail" element="q5:NICFaultContract" />
  </wsdl:message>
  <wsdl:portType name="INICService">
    <wsdl:operation name="CancelVisa">
      <wsdl:input wsaw:Action="http://mol.gov.sa/services/INICService/CancelVisa" message="tns:INICService_CancelVisa_InputMessage" />
      <wsdl:output wsaw:Action="http://mol.gov.sa/services/INICService/CancelVisaResponse" message="tns:INICService_CancelVisa_OutputMessage" />
      <wsdl:fault wsaw:Action="http://mol.gov.sa/services/INICService/CancelVisaNICFaultContractFault" name="NICFaultContractFault" message="tns:INICService_CancelVisa_NICFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="QueryDependentsByID">
      <wsdl:input wsaw:Action="http://mol.gov.sa/services/INICService/QueryDependentsByID" message="tns:INICService_QueryDependentsByID_InputMessage" />
      <wsdl:output wsaw:Action="http://mol.gov.sa/services/INICService/QueryDependentsByIDResponse" message="tns:INICService_QueryDependentsByID_OutputMessage" />
      <wsdl:fault wsaw:Action="http://mol.gov.sa/services/INICService/QueryDependentsByIDNICFaultContractFault" name="NICFaultContractFault" message="tns:INICService_QueryDependentsByID_NICFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLabrorPrisonStatus">
      <wsdl:input wsaw:Action="http://mol.gov.sa/services/INICService/GetLabrorPrisonStatus" message="tns:INICService_GetLabrorPrisonStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://mol.gov.sa/services/INICService/GetLabrorPrisonStatusResponse" message="tns:INICService_GetLabrorPrisonStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="http://mol.gov.sa/services/INICService/GetLabrorPrisonStatusNICFaultContractFault" name="NICFaultContractFault" message="tns:INICService_GetLabrorPrisonStatus_NICFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AuthenticateUserByMobile">
      <wsdl:input wsaw:Action="http://mol.gov.sa/services/INICService/AuthenticateUserByMobile" message="tns:INICService_AuthenticateUserByMobile_InputMessage" />
      <wsdl:output wsaw:Action="http://mol.gov.sa/services/INICService/AuthenticateUserByMobileResponse" message="tns:INICService_AuthenticateUserByMobile_OutputMessage" />
      <wsdl:fault wsaw:Action="http://mol.gov.sa/services/INICService/AuthenticateUserByMobileNICFaultContractFault" name="NICFaultContractFault" message="tns:INICService_AuthenticateUserByMobile_NICFaultContractFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Test">
      <wsdl:input wsaw:Action="http://mol.gov.sa/services/INICService/Test" message="tns:INICService_Test_InputMessage" />
      <wsdl:output wsaw:Action="http://mol.gov.sa/services/INICService/TestResponse" message="tns:INICService_Test_OutputMessage" />
      <wsdl:fault wsaw:Action="http://mol.gov.sa/services/INICService/TestNICFaultContractFault" name="NICFaultContractFault" message="tns:INICService_Test_NICFaultContractFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="NICService">
    <wsdl:port name="wsHttpBinding" binding="i0:wsHttpBinding">
      <soap12:address location="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <X509Data>
              <X509Certificate>MIID6DCCAtCgAwIBAgIBFzANBgkqhkiG9w0BAQsFADCBpjELMAkGA1UEBhMCU0ExDzANBgNVBAgTBlJpeWFkaDEPMA0GA1UEBxMGUml5YWRoMTkwNwYDVQQKEzBHZW5lcmFsIE9yZ2FuaXphdGlvbiBmb3IgU29jaWFsIEluc3VyYW5jZSAoR09TSSkxKDAmBgNVBAsTH0luZm9ybWF0aW9uIFNlY3VyaXR5IERlcGFydG1lbnQxEDAOBgNVBAMTB0dPU0kgQ0EwHhcNMTUwNjAxMDQ0MjU4WhcNMTYwNTMxMDQ0MjU4WjBiMQswCQYDVQQGEwJTQTEPMA0GA1UECBMGcml5YWRoMQ8wDQYDVQQHEwZyaXlhZGgxDDAKBgNVBAoTA21vbDEMMAoGA1UECxMDbW9sMRUwEwYDVQQDEwxiaXp0YWxrLXNydjMwggEiMA0GCSqGSIb3DQEBAQUAA4IBDwAwggEKAoIBAQCP8UZKJosihJxmdltKuuTrPujKkKVzs+rS958YH934Ul43+5rQ45P3BLof1GarhdhHbiBb1GntG+iJNRfjuNImoSWZaQlAXC5tSMLbOvEpD/mF2wNasJUCIPwV7mQW/8GfvatC/MkXxqmXiKF/yLU6nhamvm1431kjjqLjSECLE5Zb9Len9GLH+KKE4DDdAWYhsjZgEZg7tbDj2c7EevKLrbMhUhCdpfGMcduYdiyQ+KjaJ/UEKPt3eu4VUk/o7r/f3GnLDRHVXcjcvGy2Dmxbp/znkYDNWLxqHtJGOtFMk/wRXAbY3zingwXvKHJhBcWSC0mwYErfP80ixKjoC3pzAgMBAAGjZDBiMAsGA1UdDwQEAwIFoDAdBgNVHQ4EFgQUR2yLMqP9/Ld2riCH0pl/h+lmhBgwHwYDVR0jBBgwFoAUBjoKTDiywHityW761Cy8q8Oq4bUwEwYDVR0lBAwwCgYIKwYBBQUHAwIwDQYJKoZIhvcNAQELBQADggEBAC+bP1ucEGqJNSHw6ri0KSsCp/vL1nZCci+EuSKlDhYxIRNtHv+IiP5JixL9nSZmXkamVj6odNgqUwPlYLLetRgM1iVEYXioU/LjKvtyncVdKm6w+L6LoxVlTWSyEWAt442/XsfcQOt+niviJ5gWkuTGlbHD0l2v3gUrDZ5RRVUy6deJfag1BbGKKnjIh1egSOLXKfEtoxvJ/6i7kLOmlZMn0Kx4LeIOKysZfQWzM+eZnD3ZoVo93ii3UK8Y+xETQ5tlmbzHr2jxYFiVaGgKxSVTUKq7KDxD2Y4I2YuLpOZCui7dFECNl5Ae1pWGpD9sqPN9DmBiohpC092lWZ5BiAo=</X509Certificate>
            </X509Data>
          </KeyInfo>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
    <wsdl:port name="clearUsernameBinding" binding="i0:clearUsernameBinding">
      <soap12:address location="http://biztalk-srv3.mol-pdom.gov:9510/NICService.svc/clear" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>